{% extends 'administration/base.html' %}
{% block content %}
    <div class="pricing__section">
        <div class="pricing__wrapper">
            <h1 class="pricing__heading">Messages To Students</h1>
            <div class="pricing__container">
                
                <a to='/login' class="pricing__container-card">
                    <div class="pricing__container-cardInfo">
                        <div class="icon">
                            <img src="https://www.apeejay.edu/noida/images/principal-image/mr-ak-sharma.jpg" />
                        </div>
                        <h3>Message From principal</h3>
                        <p>"We have worked hard as a team since beginning and able to produce awesome products who are doing great in their respective fields, starting this school 10 years back has produced remarkable result and are hoping even best in coming future"</p>
                    </div>
                </a>
                <a href='/login' class="pricing__container-card">
                    <div class="pricing__container-cardInfo">
                        <div class="icon">
                            <img src="https://www.apeejay.edu/noida/images/principal-image/mr-ak-sharma.jpg" />
                        </div>
                        <h3>Message From principal</h3>
                        <p>"We have worked hard as a team since beginning and able to produce awesome products who are doing great in their respective fields, starting this school 10 years back has produced remarkable result and are hoping even best in coming future"</p>
                    </div>
                </a>
                <a href='/login' class="pricing__container-card">
                    <div class="pricing__container-cardInfo">
                        <div class="icon">
                            <img src="https://www.apeejay.edu/noida/images/principal-image/mr-ak-sharma.jpg" />
                        </div>
                        <h3>Message From principal</h3>
                        <p>"We have worked hard as a team since beginning and able to produce awesome products who are doing great in their respective fields, starting this school 10 years back has produced remarkable result and are hoping even best in coming future"</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
{% endblock %}