{% load static %}
<div class="container m-auto m-5">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <div class="message__alumni">
                <div class="row">
                    <div class="col-lg-3 alumni__img">
                        <img src="{% static 'images/pro.svg' %}"> 
                    </div>
                    <div class="col-lg-7 alumni__msg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere reprehenderit ut, harum dignissimos voluptas quod voluptates impedit. Perferendis, laudantium.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>