{% extends 'administration/base.html' %}
{% load static %}

{% block content %}
   {% include 'administration/header.html' %}
   </main>  
      {% include 'administration/announcements.html' %}
      {% include 'administration/event.html' %}
      {% include 'administration/facilities.html' %}

      {% include 'administration/message.html' %}
      {% include 'administration/contact.html' %}
      {% include 'administration/main_footer.html' %}
   </main>
{% endblock %}


<style>
.events{
   width: 100%;
   height: auto;
   padding: 1rem;
}
   
.event__heading{
   width: 60%;
   margin: 1rem 2rem;
   font-size: 2rem;
   padding: 1rem;
   color: var(--text-gray);
}
   .event{
       width: 60%;
       margin: auto;
       background-color: rgba(211, 97, 5, 0.8);
       padding: 3rem;
       border-radius: 5px;
       color: white;
       text-align: center;
   }
   
   .event button{
       padding: 0.7rem 1rem;
       outline:  none;
       border: none;
       border-radius: 10px;
       display: block;
       margin: auto;
       margin-top: 10px;
       background-color: rgba(0, 80, 67, 0.6);
   }
   
   .event button:hover{
       background-color: transparent;
       border: 1px solid white;
   }
   
   /*--x--Events end----x--*/
</style>
