{% extends 'administration/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-12 mx-auto my-5">
          <div class="row gx-5 mx-sm-auto">
             <div class="col-lg-7 col-md-11 col-11 mx-auto">
                <div class="row gy-5">
                   <div class="col-12 card p-4 shadow welcome__school">
                        <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-3 welcome">
                            <h1 class="main_heading">Library</h1>
                            
                        </div>
                        <figure class="right_side__img mb-5">
                            <img src="{% static 'images/school.jpg' %}" class="img-fluid shadow">
                        </figure>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, dolorum consequuntur! Quaerat hic sequi facere placeat optio ab repudiandae qui debitis reprehenderit neque ipsa vero minima, aliquam quibusdam quas enim esse quae? Excepturi dolor doloremque consectetur maiores eos dolores consequatur. Officia ullam, eaque quae magni ipsam in dicta illo vitae.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deleniti ut, tempora tenetur quod nostrum rerum reiciendis beatae in eaque! Eos qui eius doloribus mollitia porro exercitationem vitae eum sapiente blanditiis similique. Maxime est odit quidem eum, voluptates recusandae eius.</p>
                   </div>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>             
{% endblock %}