<div class="main">
    <div class="main__footer">
        <div class="left">
            <h2>About Us</h2>
            <div class="footer__content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi delectus explicabo corrupti dignissimos nesciunt quos voluptatibus incidunt voluptas culpa!</p>
            </div>
        </div>
        <div class="middle">
            <h2>Quick Links</h2>
            <div class="footer__content">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Notice Board</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Facilities</a></li>
                </ul>
            </div>
        </div>
        <div class="center">
            <h2>Address</h2>
            <div class="content__address">
                <div class="place">
                    <span class="fa fa-map"></span>
                    <span><p>Balkhu, Tekusi-14</p></span>
                </div>
                <div class="phone">
                    <span class="fa fa-phone"></span>
                    <span><p>+977-9808916325</p></span>
                </div>
                <div class="email">
                    <span class="fa fa-envelope"></span>
                    <span><p>admin@gmail.com</p></span>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Contact Us</h2>
            <form>
                <div class="contact__email">
                    <div class="text">Email</div>
                    <input type="text">
                </div>
                <div class="contact__email">
                    <div class="text">Email</div>
                    <input type="text">
                </div>
                <button class="btn" style="color: white;">Submit</button>
            </form>
        </div>
    </div>
</div> 