{% extends 'administration/base.html' %}
{% block content %}
<div class="container m-auto shadow mt-5">
    <div class="row">
        <div class="col-lg-8 m-auto">
            <h1>Form Page</h1>
            <form method="POST" id='registration' class="form-group">
                {% csrf_token %}
                <input name="name" placeholder="Enter Your Name" class="form-control m-3">
                <input name="dob" placeholder="Enter Your Date of Birth" class="form-control m-3">
                <input name="phone" placeholder="Enter Your Phone" class="form-control m-3">
                <input name="address" placeholder="Enter Your Address" class="form-control m-3">
                <input name="email" placeholder="Enter Your Email" class="form-control m-3">
                <input name="grade" placeholder="Enter Your Grade" class="form-control m-3">
                <button type="submit" id='submit' class="btn btn-primary m-3">Submit</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}