{% extends 'administration/base.html' %}
{% block content %}
{% load static %}
<div style="margin-top: 100px; margin-bottom: 200px;">
    <div class="container mt-5 mb-5" style="width: 80%;">
        <div class="row p-2">
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'apply_for_leave' %}">Apply For Leave</a></h1> 
            </div>
            
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'result' %}">View Result</a></h1> 
            </div>
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'apply_for_examination' %}">Apply For Examination</a></h1> 
            </div>
            
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'student_info' %}">View Your Information</a></h1> 
            </div>
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'mypost' %}">View Your Post</a></h1> 
            </div>
            <div class="col-lg-3 mb-3 shadow m-2" id="account"> 
                <h1><a href="{% url 'admit_card' %}">View Your Admit Card</a></h1> 
            </div>
            
            <div class="col-lg-3 mb-3 shadow m-2" id="account">
                <h1><a href="{% url 'post' %}">Discussion Room</a></h1>
            </div>
            <div class="col-lg-3 mb-3 shadow m-2" id="account">
                <h1><a href="{% url 'payment_history'  %}">View Your payment History</a></h1>
            </div>
            <div class="col-lg-3 mb-3 shadow m-2" id="account">
                <h1><a href="{% url 'your_invoice'  %}">View Your Invoice</a></h1>
            </div>
        </div>
    </div>            
</div>
{% endblock %}    
