@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;

}

:root{
  /* colors */
  --text-gray :  #3f4954;
  --text-primary : #FB4D3D;
  --white: #ffffff;
  --bg-color: rgb(209, 207, 217);
}

a{
  text-decoration: none;
  color: var(--text-gray);
}
/* Navbar */
.main__nav{
  background: #fff;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in;
}

.flex__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__nav .nav__menu{
  justify-content: space-between;

}

.main__nav .toggle__collapse{
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.main__nav .toggle__collapse .toggle__icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.6rem 0rem;
}

.main__nav .toggle__collapse .toggle__icons i{
  font-size: 1.4rem;
  color: var(--text-gray);
}

.main__nav .nav__brand a{
  font-size: 1.7rem;
  padding: 1.2rem 0;
  display: block;
  color: var(--text-gray);
}

.main__nav .nav__items{
  list-style-type: none;
  display: flex;
  margin: 0;
}

.main__nav .nav__items .nav__link {
  padding: 1.6rem 1rem;
  font-size: 1rem;
  position: relative;
}

.main__nav .nav__items .nav__link:hover{
    background-color: var(--text-primary);
}

.main__nav .nav__items .nav__link:hover a{
    color: #fff;
    text-decoration: none;
}

.main__nav .social{
  padding: 1.4rem 0;
}

.main__nav .social i{
  padding: 0 0.2rem;
}

/* Navbar ends */
/*----Dashboard---*/

#account{
  height: 100px;
  background-color: tomato;
  padding: 1rem;
}
#account h1{
  font-size: 1.1rem;
  text-align: center;
}
#account a{
  color: white;
}

/*--X--Dashboard-X--*/


.box{
  height: 500px;
  width: 100%;
  background-color: #FB4D3D;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 200px rgba(0, 0 , 0 , 0.8);
}

.box img{
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
}

.box h2{
  text-align: center;
}

.box h4{
  text-align: center;
}

.box .inputBox{
  padding: 10px 20px;
}

.box .inputBox input{
  outline: none;
  border: none;
  border-radius: none;
  margin-top: 10px;
  background-color: rgba(226, 222, 222, 0.8);
}

.box button{
 display: block;
 margin: auto;
 background: transparent;
 outline: none;
 border: none;
 border: 2px solid #fff;
 color: #fff;
 font-size: 1rem;
 margin-top: 30px;
 text-transform: uppercase;
}


.icon {
  margin: 24px 0;
}

.icon img{
max-width: 100%;
border-radius: 50%;
}


.main{
  width: 100%;
  height: auto;
}

.main__footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  font-family: cursive;
  background-color: rgba(211, 97, 5, 0.8);
  color: cornsilk;
}


.contact{
  height: 100vh;
  width: 100%;
  background-image: url('../img/canva.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact__section{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact__map{
  margin-top: 90px;
  padding: 10px;
}

.contact__content form{
  width: 90%;
  margin-top: 90px;
  padding: 10px;
}

.contact__content form input{
  width: 100%;
  padding: 10px;
}

.contact__content form button{
  padding: 0.7rem;
  display: block;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 200, 10, 0.5);
  color: white;
  margin: auto;
  margin-top: 0.8rem;
}



.left{
  width: 300px;
  height: auto;
  margin: 1rem 0rem;
}
.left h2{
  margin-bottom: 1rem;
}
.right h2{
  margin-bottom: 1rem;
}
.center h2{
  margin-bottom: 1rem;
}
.center{
  width: 200px;
  height: auto;
  margin: 1rem 0rem;
}
.place{
  display: flex;
  flex-direction: row;
  padding: 14px;
  justify-content: space-between;
}
.phone{
  display: flex;
  flex-direction: row;
  padding: 14px;
  justify-content: space-between;
}
.email{
  display: flex;
  flex-direction: row;
  padding: 14px;
  justify-content: space-between;
}
.right{
  width: 300px;
  height: auto;
  margin: 1rem 0rem;
}
.middle{
  width: 300px;
  height: auto;
  margin: 1rem 0rem;
}

.middle li{
  list-style: none;
  padding: 8px;
}
.middle li a{
  color: #fff;
}
.contact__email input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.contact__email .text{
  margin-bottom: 10px;
}

.right button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: block;
  margin: auto;
  background-color: var(--text-gray);
  margin-top: 10px;
}

/* -------Viewport <= 760px-------*/
@media only screen and (max-width: 800px){
  .main__nav{
    min-height: 10vh;
  }
  .main__nav .toggle__collapse{
    display: initial;
  }
  .main__nav .nav__menu, .main__nav .nav__items{
    flex-direction: column;
  };
}

/* ---x----Viewport <= 760px---x----*/

@media screen and (max-width:960px){
   #grade{
     margin-top: 6rem;
   }
}