*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}

body{
 background: hsl(84, 3%, 94%);
}

.navbar{
  background: #145374;
  font-size: 20px;
}

header{
  height: 100vh;
}

header .header__section{
  margin-top: 10rem;
  width: 100%;
  padding: 2rem;
  color: #145374;
}


header .header__section button{
  background-color: #145374;
  padding: 10px;
  border: none;
  color: white;
}

header .header__image{
    margin-top: 6rem;
    width: 100%;
}

header .header__image img{
  max-width: 100%;
  width: 100%;
  height: 600px;
  height: auto;
  display: block;
}

/* 
.welcome__school{
    background-color: #145374;
    color: white;
} */

.welcome{
  background: #145374;
  color: #fff;
}

.grade__heading{
  background: #145374;
  color: #fff;
  padding: 2px;
  text-align: center;
}

.notice__heading{
  background: #145374;
  color: #fff;
  padding: 2px;
  text-align: center;
}

.notice{
  height: 25rem;
  border-bottom: 2px solid gray;
}

.notice a{
  color: blue;
  transition: transform .5s ease;
}

.notice a:hover{
  cursor: pointer;
  transform : scale(1.2);
}

.facilities{
  height: 20rem;
  width: 100%;
  background-image: url("../images/school.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.facilities h1{
  color: #fff;
  padding-top: 6rem;
  text-align: center;
 
}

.rect{
  margin-top: -4rem;
}

.rect1{
  height: 7rem;
  width: 15rem;
  margin: auto;
  background: #145374;
  color: #fff;
  box-shadow: 2px 30px 50px 0px #145374;
  position: relative;
}

.rect1 a:hover{
  cursor: pointer;
  color: red;
}


.princi__section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  margin-top: 5rem;
}


.princi__container-card {
  background: linear-gradient(45deg, #145374 0%, #145374 100%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}

.princi__container-card:nth-child(2) {
  transform: scale(1.05);
  background: #242424;
}

.princi__container-card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #1c2237;
}

.princi__container-card:nth-child(2) {
  margin: 0 24px;
}

.princi__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.princi__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.princi__heading {
  color: #1c2237;
  margin-bottom: 90px;
  border-bottom: 1px solid gray;
}

.princi__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.princi__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.princi__container-cardInfo h4 {
  font-size: 40px;
}

.princi__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
}

.princi__container-features {
  margin: 16px 0 32px;
  list-style: none;
}

.princi__container-features li {
  margin-bottom: 10px;
}

.princi__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 24px 0;
}

.icon img{
max-width: 100%;
border-radius: 50%;
}

@media screen and (max-width: 960px) {
.princi__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.princi__container-card {
  width: 90%;
  }

.princi__wrapper {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.princi__container-card:nth-child(2) {
  transform: scale(1);
  background: #242424;
  margin: 24px;
}

.princi__container-card:hover {
  transform: none;
}
}

#leave{
  height: 10rem;
  width: 20rem;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../images/letter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#leave a{
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 3rem;
  font-size: large;
  font-weight: bold;
}

footer{
  background-color: #145374;
  color: #fff;
}

@media screen and (max-width:960px){
   #grade{
     margin-top: 6rem;
   }
}