{% extends 'administration/base.html' %}
{% block content %}
<div class="container mt-5 mb-5" style="width: 90%; margin: auto;">
    <div class="row p-2">
            <div class="col-lg-3 m-2 mb-3 shadow" id="account"> 
                <h1><a href="{% url 'account_page' %}"> Add Student</a></h1> 
            </div>
            <div class="col-lg-3 m-2 shadow mb-3" id="account">
                <h1><a href="{% url 'teacher_account_form' %}">Add teacher</a></h1>
            </div>
            <div class="col-lg-3 m-2 shadow mb-3" id="account">
                <h1><a href="{% url 'information' %}">View Student's Account Detail</a></h1>
            </div>
            <div class="col-lg-3 m-2 shadow " id="account">
                <h1><a href="{% url 'teacher_account_detail' %}">View Teacher's Account Detail</a></h1>
            </div>
            <div class="col-lg-3 m-2 shadow " id="account">
                <h1><a href="{% url 'expense' %}">Add expense and View Expense</a></h1>
            </div>
            <div class="col-lg-3 m-2 shadow " id="account">
                <h1><a href="{% url 'approve_form' %}">Approve Student for Examination</a></h1>
            </div>
        
    </div>
</div>
{% endblock %}

