{% extends 'administration/base.html' %}
{% block content %}
    <div class="container m-auto m-5">
        <div class="row m-5">
            <div class="col-lg-10 m-5 m-auto">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn" style="background-color: teal; color: white;">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}